.contentDetail{
    margin-top: 70px;
    width: inherit;
    padding: 2em;
 }
 .image{
     max-width:100% ;
     max-height: 500px;
     object-fit: cover;
 }

 .priceDiv{
    display: flex;
    justify-content: space-between;
    padding: 0 3em;
 }
 .detailProduct{
    max-width: 100%;
 }