.contentCheckout{
    position: absolute;
    width: 100%;
    top:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .formCheckout{
    display: flex;
    flex-direction: column;
    gap: 10px;
 }