.navmenu {
  border-style:none none solid none;
  border-width:thin;
  border-color: #bfbfbf;
  position:fixed;
  display: flex;
  justify-content: space-between;
  align-items:center;
  width:100%;
  height: 70px;
  z-index: 999;
  .menu{
    height:100%;
  }
}

.leftmenu {
    display: flex;
    height: 100%;
    flex:1;
    background-color: white;
}
.rightmenu{
  display: flex;
  height: 100%;
}
.applogo{
    height: 50px;
}


.navlogo {
    background-color:black;
    height:100%;
    padding:1em;
    border: none;
}

.navsearch {
    background-color: #d5d73a;
    height:100%;
    width: 80px;
    padding:1em;
    border: none;
}

.navbutton {
  background-color:white;
  height:100%;
  width: 80px;
  padding:1em;
  border-style:none solid none none;
  border-width:thin;
  border-color: #bfbfbf;
}

a{
  text-decoration: none;
}

a:visited{
  color:black;
}

.user-menu{
  background-color:white;
  height:100%;
  width: 80px;
  padding:1em;
  border-style:none solid none none;
  border-width:thin;
  border-color: #bfbfbf;
  position:relative;
  transition:all 300ms;
  &:hover {
    background-color:#edece8;
    .sub-menu {
      display:block;
    }
  }
}

.avt{
  height: inherit;
}

.sub-menu{
  position:absolute;
  left:0;
  top:100%;
  display:none;
  &:hover {
    display:block;
  }
}

ul{
  padding:0;
}
li{
  list-style: none;
  padding: 0;
  transition:all 300ms;
  &:hover {
    background-color:#edece8;
  }
}