.content{
   margin: 0 auto;
   background-color: rgb(237, 237, 237);
   width: inherit;
   padding: 2em;
   margin-top: 70px;
}

.sortPrice{
   padding-bottom: 1em;
   display: flex;
   align-items: center;
}